---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IWishlistService/GetWishlist/v0001?key=<STEAM_API_KEY>&steamid=<MY_STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response":{"items":[{"appid":482400,"priority":6,"date_added":1685615147},{"appid":500810,"priority":0,"date_added":1778379855},{"appid":532790,"priority":0,"date_added":1763518938},{"appid":597820,"priority":12,"date_added":1722554173},{"appid":731040,"priority":9,"date_added":1699213929},{"appid":1043340,"priority":0,"date_added":1778379614},{"appid":1086940,"priority":0,"date_added":1760063879},{"appid":1133760,"priority":35,"date_added":1742608347},{"appid":1351630,"priority":16,"date_added":1729886891},{"appid":1449110,"priority":21,"date_added":17340[...]
