---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001/?count=1&key=<STEAM_API_KEY>&steamid=<MY_STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response":{"total_count":3,"games":[{"appid":220,"name":"Half-Life
        2","playtime_2weeks":438,"playtime_forever":1999,"img_icon_url":"fcfb366051782b8ebf2aa297f3b746395858cb62","playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":943,"playtime_deck_forever":0}]}}'
  recorded_at: Thu, 03 Sep 2026 00:40:38 GMT
recorded_with: VCR 6.4.0
