---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamNews/GetNewsForApp/v0002/?appid=440&count=2&key=<STEAM_API_KEY>&maxlength=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"appnews":{"appid":440,"newsitems":[{"gid":"1841579228670190","title":"Australian
        Hightower Highjinx 2026","url":"https://steamstore-a.akamaihd.net/news/externalpost/steam_community_announcements/1841579228670190","is_external_url":true,"author":"erics","contents":"{STEAM_CLAN_LOC_IMAGE}/554111/1adda64b2fc832e6dd55421139ea153d080a5039.png
        Australian Hightower High...","feedlabel":"Community Announcements","date":1787349844,"feedname":"steam_community_announcements","feed_type":1,"appid":440},{"gid":"1841579228670199","title":"Australian
        Hightower Highjinx 2026","url":"https://steamstore-a.akamaihd.net/news/externalpost/tf2_blog/1841579228670199","is_external_url":true,"author":"","contents":"<a
        href=\"https://ozfortress.com/leagues/97\" target=\"_blank\"> </a> Australian
        Hightower Highjinx is back! After years of being dormant in the deep outback,
        it return...","feedlabel":"TF2 Blog","date":1787349600,"feedname":"tf2_blog","feed_type":0,"appid":440}],"count":3933}}'
  recorded_at: Wed, 02 Sep 2026 21:00:24 GMT
recorded_with: VCR 6.4.0
