---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v0001?appid=440&key=<STEAM_API_KEY>&steamid=<MY_STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"playerstats":{"steamID":"<MY_STEAM_ID>","gameName":"Team Fortress
        2","stats":{"Scout.accum.iBuildingsDestroyed":{"value":60},"Scout.accum.iDamageDealt":{"value":172532},"Scout.accum.iDominations":{"value":26},"Scout.accum.iKillAssists":{"value":229},"Scout.accum.iNumberOfKills":{"value":697},"Scout.accum.iPlayTime":{"value":56175},"Scout.accum.iPointCaptures":{"value":147},"Scout.accum.iPointDefenses":{"value":31},"Scout.accum.iPointsScored":{"value":1423},"Scout.accum.iRevenge":{"value":42},"Scout.max.iBuildingsDestroyed":{"value":3},"Scout.max.iDamageDealt":{"value":1019},"Scout.max.iDominations":{"value":2},"Scout.max.iKillAssists":{"value":5},"Scout.max.iNumberOfKills":{"value":6},"Scout.max.iPlayTime":{"value":480},"Scout.max.iPointCaptures":{"value":9},"Scout.max.iPointDefenses":{"value":2},"Scout.max.iPointsScored":{"value":18},"Scout.max.iRevenge":{"value":1},"Soldier.accum.iBuildingsDestroyed":{"value":391},"Soldier.accum.iDamageDealt":{"value":548118},"Soldier.accum.iDominations":{"value":94},"Soldier.accum.iKillAssists":{"value":438},"Soldier.accum.iNumberOfKills":{"value":2209},"Soldier.accum.iPlayTime":{"value":107315},"Soldier.accum.iPointCaptures":{"value":93},"Soldier.accum.iPointDefenses":{"value":50},"Soldier.accum.iPointsScored":{"value":2995},"Soldier.accum.iRevenge":{"value":79},"Soldier.max.iBuildingsDestroyed":{"value":4},"Soldier.max.iDamageDealt":{"value":9120},"Soldier.max.iDominations":{"value":4},"Soldier.max.iKillAssists":{"value":4},"Soldier.max.iNumberOfKills":{"value":50},"Soldier.max.iPlayTime":{"value":1168},"Soldier.max.iPointCaptures":{"value":5},"Soldier.max.iPointDefenses":{"value":3},"Soldier.max.iPointsScored":{"value":52},"Soldier.max.iRevenge":{"value":2},"Spy.accum.iBuildingsDestroyed":{"value":557},"Spy.accum.iDamageDealt":{"value":318867},"Spy.accum.iDominations":{"value":71},"Spy.accum.iKillAssists":{"value":235},"Spy.accum.iNumberOfKills":{"value":1898},"Spy.accum.iPlayTime":{"value":117043},"Spy.accum.iPointCaptures":{"value":65},"Spy.accum.iPointDefenses":{"value":37},"Spy.accum.iPointsScored":{"value":4235},"Spy.accum.iRevenge":{"value":80},"Spy.max.iBuildingsDestroyed":{"value":22},"Spy.max.iDamageDealt":{"value":2666},"Spy.max.iDominations":{"value":2},"Spy.max.iKillAssists":{"value":4},"Spy.max.iNumberOfKills":{"value":14},"Spy.max.iPlayTime":{"value":519},"Spy.max.iPointCaptures":{"value":6},"Spy.max.iPointDefenses":{"value":3},"Spy.max.iPointsScored":{"value":29},"Spy.max.iRevenge":{"value":3},"Pyro.accum.iBuildingsDestroyed":{"value":454},"Pyro.accum.iDamageDealt":{"value":735869},"Pyro.accum.iDominations":{"value":172},"Pyro.accum.iKillAssists":{"value":940},"Pyro.accum.iNumberOfKills":{"value":3422},"Pyro.accum.iPlayTime":{"value":149074},"Pyro.accum.iPointCaptures":{"value":154},"Pyro.accum.iPointDefenses":{"value":121},"Pyro.accum.iPointsScored":{"value":4645},"Pyro.accum.iRevenge":{"value":134},"Pyro.max.iBuildingsDestroyed":{"value":31},"Pyro.max.iDamageDealt":{"value":1740},"Pyro.max.iDominations":{"value":2},"Pyro.max.iKillAssists":{"value":5},"Pyro.max.iNumberOfKills":{"value":11},"Pyro.max.iPlayTime":{"value":675},"Pyro.max.iPointCaptures":{"value":15},"Pyro.max.iPointDefenses":{"value":2},"Pyro.max.iPointsScored":{"value":37},"Pyro.max.iRevenge":{"value":2},"Medic.accum.iBuildingsDestroyed":{"value":28},"Medic.accum.iDamageDealt":{"value":154499},"Medic.accum.iDominations":{"value":71},"Medic.accum.iKillAssists":{"value":1009},"Medic.accum.iNumberOfKills":{"value":712},"Medic.accum.iNumInvulnerable":{"value":230},"Medic.accum.iPlayTime":{"value":77679},"Medic.accum.iPointCaptures":{"value":80},"Medic.accum.iPointDefenses":{"value":43},"Medic.accum.iPointsScored":{"value":2185},"Medic.accum.iRevenge":{"value":40},"Medic.max.iBuildingsDestroyed":{"value":4},"Medic.max.iDamageDealt":{"value":1502},"Medic.max.iDominations":{"value":2},"Medic.max.iKillAssists":{"value":11},"Medic.max.iNumberOfKills":{"value":9},"Medic.max.iNumInvulnerable":{"value":4},"Medic.max.iPlayTime":{"value":508},"Medic.max.iPointCaptures":{"value":4},"Medic.max.iPointDefenses":{"value":3},"Medic.max.iPointsScored":{"value":15},"Medic.max.iRevenge":{"value":2},"Demoman.accum.iBuildingsDestroyed":{"value":487},"Demoman.accum.iDamageDealt":{"value":621571},"Demoman.accum.iDominations":{"value":100},"Demoman.accum.iKillAssists":{"value":470},"Demoman.accum.iNumberOfKills":{"value":2520},"Demoman.accum.iPlayTime":{"value":129853},"Demoman.accum.iPointCaptures":{"value":100},"Demoman.accum.iPointDefenses":{"value":50},"Demoman.accum.iPointsScored":{"value":3440},"Demoman.accum.iRevenge":{"value":78},"Demoman.max.iBuildingsDestroyed":{"value":6},"Demoman.max.iDamageDealt":{"value":2626},"Demoman.max.iDominations":{"value":3},"Demoman.max.iKillAssists":{"value":6},"Demoman.max.iNumberOfKills":{"value":16},"Demoman.max.iPlayTime":{"value":610},"Demoman.max.iPointCaptures":{"value":3},"Demoman.max.iPointDefenses":{"value":3},"Demoman.max.iPointsScored":{"value":24},"Demoman.max.iRevenge":{"value":2},"Heavy.accum.iBuildingsDestroyed":{"value":260},"Heavy.accum.iDamageDealt":{"value":486726},"Heavy.accum.iDominations":{"value":151},"Heavy.accum.iKillAssists":{"value":617},"Heavy.accum.iNumberOfKills":{"value":2132},"Heavy.accum.iPlayTime":{"value":82976},"Heavy.accum.iPointCaptures":{"value":68},"Heavy.accum.iPointDefenses":{"value":74},"Heavy.accum.iPointsScored":{"value":2811},"Heavy.accum.iRevenge":{"value":39},"Heavy.max.iBuildingsDestroyed":{"value":25},"Heavy.max.iDamageDealt":{"value":5766},"Heavy.max.iDominations":{"value":4},"Heavy.max.iKillAssists":{"value":14},"Heavy.max.iNumberOfKills":{"value":39},"Heavy.max.iPlayTime":{"value":885},"Heavy.max.iPointCaptures":{"value":7},"Heavy.max.iPointDefenses":{"value":4},"Heavy.max.iPointsScored":{"value":46},"Heavy.max.iRevenge":{"value":2},"Engineer.accum.iBuildingsDestroyed":{"value":50},"Engineer.accum.iDamageDealt":{"value":293602},"Engineer.accum.iDominations":{"value":90},"Engineer.accum.iKillAssists":{"value":488},"Engineer.accum.iNumberOfKills":{"value":1373},"Engineer.accum.iPlayTime":{"value":128791},"Engineer.accum.iPointCaptures":{"value":14},"Engineer.accum.iPointDefenses":{"value":55},"Engineer.accum.iPointsScored":{"value":2151},"Engineer.accum.iRevenge":{"value":23},"Engineer.max.iBuildingsDestroyed":{"value":2},"Engineer.max.iDamageDealt":{"value":11649},"Engineer.max.iDominations":{"value":6},"Engineer.max.iKillAssists":{"value":19},"Engineer.max.iNumberOfKills":{"value":68},"Engineer.max.iPlayTime":{"value":1439},"Engineer.max.iPointCaptures":{"value":3},"Engineer.max.iPointDefenses":{"value":3},"Engineer.max.iPointsScored":{"value":69},"Engineer.max.iRevenge":{"value":2},"Sniper.accum.iBuildingsDestroyed":{"value":63},"Sniper.accum.iDamageDealt":{"value":249161},"Sniper.accum.iDominations":{"value":76},"Sniper.accum.iKillAssists":{"value":224},"Sniper.accum.iNumberOfKills":{"value":1283},"Sniper.accum.iPlayTime":{"value":71113},"Sniper.accum.iPointCaptures":{"value":50},"Sniper.accum.iPointDefenses":{"value":19},"Sniper.accum.iPointsScored":{"value":1910},"Sniper.accum.iRevenge":{"value":44},"Sniper.max.iBuildingsDestroyed":{"value":9},"Sniper.max.iDamageDealt":{"value":7293},"Sniper.max.iDominations":{"value":3},"Sniper.max.iKillAssists":{"value":5},"Sniper.max.iNumberOfKills":{"value":43},"Sniper.max.iPlayTime":{"value":666},"Sniper.max.iPointCaptures":{"value":26},"Sniper.max.iPointDefenses":{"value":2},"Sniper.max.iPointsScored":{"value":64},"Sniper.max.iRevenge":{"value":1},"Spy.accum.iBackstabs":{"value":1492},"Spy.max.iBackstabs":{"value":14},"Engineer.accum.iBuildingsBuilt":{"value":3021},"Engineer.max.iBuildingsBuilt":{"value":193},"Sniper.accum.iHeadshots":{"value":558},"Sniper.max.iHeadshots":{"value":43},"Spy.accum.iHealthPointsLeached":{"value":3657},"Spy.max.iHealthPointsLeached":{"value":172},"Medic.accum.iHealthPointsHealed":{"value":644789},"Medic.max.iHealthPointsHealed":{"value":5509},"Engineer.accum.iNumTeleports":{"value":985},"Engineer.max.iNumTeleports":{"value":27},"Engineer.max.iSentryKills":{"value":45},"TF_PYRO_KILL_MULTIWEAPONS_STAT_BUSTED":{"value":12},"TF_PYRO_FORCE_WATERJUMP_STAT":{"value":10},"TF_PYRO_KILL_POSTDEATH_STAT":{"value":15},"TF_PYRO_KILL_SPIES_STAT":{"value":5},"TF_PYRO_KILL_CARRIERS_STAT":{"value":5},"TF_PYRO_REVEAL_SPIES_STAT":{"value":10},"TF_PYRO_BURN_SPIES_AS_YOU_STAT":{"value":10},"TF_PYRO_BURN_SNIPERS_ZOOMED_STAT":{"value":10},"TF_PYRO_BURN_MEDICS_CHARGED_STAT":{"value":3},"TF_PYRO_KILL_HEAVIES_STAT":{"value":50},"TF_PYRO_KILL_UNDERWATER_STAT":{"value":10},"TF_PYRO_DESTROY_BUILDINGS_STAT":{"value":50},"TF_PYRO_DEFEND_POINTS_STAT":{"value":50},"TF_PYRO_KILL_GRIND_STAT":{"value":500},"TF_PYRO_KILL_TAUNTERS_STAT":{"value":3},"TF_PYRO_CAMP_TELEPORTERS_STAT":{"value":10},"TF_PYRO_FREEZECAM_TAUNTS_STAT":{"value":3},"TF_PYRO_KILL_FROM_BEHIND_STAT":{"value":50},"TF_PYRO_KILL_GRIND_LARGE_STAT":{"value":1000},"TF_PYRO_IGNITE_FLAREGUN_STAT":{"value":100},"Pyro.accum.iFireDamage":{"value":534798},"TF_HEAVY_DEFEND_MEDIC_STAT":{"value":50},"TF_HEAVY_KILL_FLAG_CARRIERS_STAT":{"value":10},"TF_HEAVY_BLOCK_CART_STAT":{"value":25},"TF_HEAVY_RECEIVE_UBER_GRIND_STAT":{"value":50},"TF_HEAVY_STAND_NEAR_DISPENSER_STAT":{"value":20},"TF_HEAVY_ASSIST_HEAVY_GRIND_STAT":{"value":25},"TF_HEAVY_CLEAR_STICKYBOMBS_STAT":{"value":20},"TF_HEAVY_KILL_UNDERWATER_STAT":{"value":100},"TF_HEAVY_KILL_DOMINATED_STAT":{"value":20},"TF_HEAVY_ASSIST_GRIND_STAT":{"value":814},"TF_HEAVY_UNCOVER_SPIES_STAT":{"value":10},"TF_HEAVY_PAYLOAD_CAP_GRIND_STAT":{"value":50},"TF_HEAVY_KILL_MIDAIR_MINIGUN_STAT":{"value":10},"TF_HEAVY_DEFEND_CONTROL_POINT_STAT":{"value":25},"TF_HEAVY_KILL_CAPPING_ENEMIES_STAT":{"value":15},"TF_HEAVY_REVENGE_ASSIST_STAT":{"value":5},"TF_HEAVY_EAT_SANDWICHES_STAT":{"value":100},"TF_HEAVY_KILL_SCOUTS_STAT":{"value":34},"TF_PYRO_KILL_MULTIWEAPONS_STAT":{"value":20},"TF_SCOUT_LIFETIME_KILLS_STAT":{"value":808},"TF_SCOUT_DESTROY_TELEPORTERS_STAT":{"value":3},"TF_SCOUT_DESTROY_BUILDINGS_BEING_BUILT_STAT":{"value":3},"TF_SCOUT_DOUBLE_JUMPS_STAT":{"value":1000},"TF_SCOUT_DOUBLEJUMP_KILL_STAT":{"value":4},"TF_SCOUT_FLAG_CAP_GRIND_STAT":{"value":25},"TF_SCOUT_KILL_STUNNED_STAT":{"value":50},"TF_SCOUT_STUN_CAPPING_ENEMIES_STAT":{"value":4},"TF_SCOUT_KILL_FROM_BEHIND_STAT":{"value":50},"TF_SCOUT_START_AND_FINISH_CAP_STAT":{"value":10},"TF_SCOUT_BLOCK_CAPS_STAT":{"value":2},"TF_SCOUT_LONG_DISTANCE_RUNNER_STAT":{"value":11860},"TF_SNIPER_KILL_GRIND_STAT":{"value":1000},"TF_SNIPER_HEADSHOT_SNIPERS_STAT":{"value":10},"TF_SNIPER_DESTROY_SENTRYGUNS_STAT":{"value":3},"TF_SNIPER_KILL_SPIES_MELEE_STAT":{"value":10},"TF_SNIPER_KILL_UNSCOPED_STAT":{"value":5},"TF_SNIPER_GET_BACKSTABBED_STAT":{"value":50},"TF_SNIPER_TOP_SCOREBOARD_GRIND_STAT":{"value":1},"TF_SPY_BACKSTAB_FRIENDS_STAT":{"value":1},"TF_SPY_KILL_CP_DEFENDERS_STAT":{"value":6},"TF_SPY_BACKSTAB_GRIND_STAT":{"value":738},"TF_SPY_BACKSTAB_CAPPING_ENEMIES_STAT":{"value":3},"TF_SPY_AMBASSADOR_GRIND_STAT":{"value":50},"TF_SPY_AMBASSADOR_SNIPER_GRIND_STAT":{"value":20},"TF_SPY_AMBASSADOR_SCOUT_GRIND_STAT":{"value":3},"TF_SPY_SAPPER_GRIND_STAT":{"value":413},"TF_SPY_KILL_WORKING_ENGY_STAT":{"value":1},"Spy.accum.iHeadshots":{"value":35},"Spy.max.iHeadshots":{"value":4},"TF_HALLOWEEN_COLLECT_PUMPKINS_STAT":{"value":20},"TF_HALLOWEEN_PUMPKIN_KILL_STAT":{"value":5},"TF_SOLDIER_KILL_DEMOMAN_GRIND_STAT":{"value":288},"TF_SOLDIER_KILL_WITH_EQUALIZER_WHILE_HURT_STAT":{"value":20},"TF_SOLDIER_KILL_AIRBORNE_WITH_DIRECT_HIT_STAT":{"value":10},"TF_SOLDIER_DESTROY_SENTRY_OUT_OF_RANGE_STAT":{"value":5},"TF_SOLDIER_DUO_SOLDIER_KILLS_STAT":{"value":10},"TF_SOLDIER_MVP_STAT":{"value":10},"TF_SOLDIER_KILL_ON_FIRE_STAT":{"value":20},"TF_SOLDIER_GIB_GRIND_STAT":{"value":1000},"TF_SOLDIER_KILL_TWENTY_FROM_ABOVE_STAT":{"value":20},"TF_SOLDIER_KILL_FIVE_STUNNED_STAT":{"value":5},"TF_SOLDIER_DEFEND_CAP_THIRTY_TIMES_STAT":{"value":24},"TF_DEMOMAN_KILL_SOLDIER_GRIND_STAT":{"value":123},"TF_DEMOMAN_KILL_X_WITH_DIRECTPIPE_STAT":{"value":50},"TF_DEMOMAN_DOMINATE_THREE_ENGINEERS_STAT":{"value":3},"TF_DEMOMAN_DECAPITATE_PLAYERS_STAT":{"value":50},"TF_DEMOMAN_DUO_DEMOMAN_KILLS_STAT":{"value":10},"TF_DEMOMAN_KILL_X_DEFENDING_STAT":{"value":11},"TF_DEMOMAN_DESTROY_BUILDINGS_GRIND_STAT":{"value":50},"TF_DEMOMAN_KILL_X_HEAVIES_FULLHP_ONEDET_STAT":{"value":5},"TF_DEMOMAN_KILL_X_SCOUTS_PYROS_STAT":{"value":25},"TF_DEMOMAN_DESTROY_X_STICKYBOMBS_STAT":{"value":15},"TF_DEMOMAN_CRIT_SWORD_KILL_STAT":{"value":5},"TF_DEMOMAN_AIR_BURST_KILLS_STAT":{"value":9},"TF_DEMOMAN_KILLXSAPPINGSPIES_STAT":{"value":12},"TF_ENGINEER_MANUAL_SENTRY_KILLS_BEYOND_RANGE_STAT":{"value":10},"TF_ENGINEER_SENTRY_KILL_CAPS_STAT":{"value":11},"TF_ENGINEER_DESTROY_SAPPERS_STAT":{"value":25},"TF_ENGINEER_HELP_MANUAL_SENTRY_STAT":{"value":50},"TF_ENGINEER_TELEPORT_GRIND_STAT":{"value":100},"TF_ENGINEER_DISPENSER_EXTINGUISH_STAT":{"value":20},"TF_ENGINEER_MANUAL_CLOAKED_SPY_KILL_STAT":{"value":1},"TF_ENGINEER_UPGRADE_BUILDINGS_STAT":{"value":50},"TF_ENGINEER_SENTRY_KILL_LIFETIME_GRIND_STAT":{"value":739},"TF_ENGINEER_WASTE_METAL_GRIND_STAT":{"value":10000},"TF_ENGINEER_KILL_FLAG_CARRIERS_STAT":{"value":20},"TF_ENGINEER_KILL_SNIPERS_SENTRY_STAT":{"value":4},"TF_ENGINEER_BUILDING_CARRY_STAT":{"value":1000},"TF_ENGINEER_KILL_ASSIST_STAT":{"value":10},"TF_ENGINEER_DISPENSER_HEAL_GRIND_STAT":{"value":100000},"TF_ENGINEER_REPAIR_TEAM_GRIND_STAT":{"value":11266},"TF_COMPLETE_TRAINING_STAT":{"value":4},"TF_CHRISTMAS_COLLECT_GIFTS_STAT":{"value":3},"TF_MAPS_FOUNDRY_WIN_ROUNDS_STAT":{"value":1},"Scout.mvm.accum.iDamageDealt":{"value":29542},"Scout.mvm.accum.iKillAssists":{"value":61},"Scout.mvm.accum.iNumberOfKills":{"value":88},"Scout.mvm.accum.iPlayTime":{"value":3280},"Scout.mvm.accum.iPointDefenses":{"value":28},"Scout.mvm.accum.iPointsScored":{"value":181},"Scout.mvm.max.iDamageDealt":{"value":3746},"Scout.mvm.max.iKillAssists":{"value":24},"Scout.mvm.max.iNumberOfKills":{"value":10},"Scout.mvm.max.iPlayTime":{"value":587},"Scout.mvm.max.iPointDefenses":{"value":5},"Scout.mvm.max.iPointsScored":{"value":30},"Soldier.mvm.accum.iBuildingsDestroyed":{"value":2},"Soldier.mvm.accum.iDamageDealt":{"value":529658},"Soldier.mvm.accum.iKillAssists":{"value":781},"Soldier.mvm.accum.iNumberOfKills":{"value":1772},"Soldier.mvm.accum.iPlayTime":{"value":32874},"Soldier.mvm.accum.iPointDefenses":{"value":520},"Soldier.mvm.accum.iPointsScored":{"value":4143},"Soldier.mvm.max.iBuildingsDestroyed":{"value":2},"Soldier.mvm.max.iDamageDealt":{"value":33813},"Soldier.mvm.max.iKillAssists":{"value":78},"Soldier.mvm.max.iNumberOfKills":{"value":74},"Soldier.mvm.max.iPlayTime":{"value":1361},"Soldier.mvm.max.iPointDefenses":{"value":32},"Soldier.mvm.max.iPointsScored":{"value":270},"Spy.mvm.accum.iDamageDealt":{"value":80089},"Spy.mvm.accum.iKillAssists":{"value":15},"Spy.mvm.accum.iNumberOfKills":{"value":270},"Spy.mvm.accum.iPlayTime":{"value":7405},"Spy.mvm.accum.iPointDefenses":{"value":39},"Spy.mvm.accum.iPointsScored":{"value":557},"Spy.mvm.max.iDamageDealt":{"value":7597},"Spy.mvm.max.iKillAssists":{"value":2},"Spy.mvm.max.iNumberOfKills":{"value":27},"Spy.mvm.max.iPlayTime":{"value":618},"Spy.mvm.max.iPointDefenses":{"value":4},"Spy.mvm.max.iPointsScored":{"value":55},"Pyro.mvm.accum.iDamageDealt":{"value":238329},"Pyro.mvm.accum.iKillAssists":{"value":407},"Pyro.mvm.accum.iNumberOfKills":{"value":667},"Pyro.mvm.accum.iPlayTime":{"value":12403},"Pyro.mvm.accum.iPointDefenses":{"value":144},"Pyro.mvm.accum.iPointsScored":{"value":994},"Pyro.mvm.max.iDamageDealt":{"value":31527},"Pyro.mvm.max.iKillAssists":{"value":39},"Pyro.mvm.max.iNumberOfKills":{"value":72},"Pyro.mvm.max.iPlayTime":{"value":589},"Pyro.mvm.max.iPointDefenses":{"value":11},"Pyro.mvm.max.iPointsScored":{"value":101},"Medic.mvm.accum.iDamageDealt":{"value":17942},"Medic.mvm.accum.iKillAssists":{"value":366},"Medic.mvm.accum.iNumberOfKills":{"value":34},"Medic.mvm.accum.iNumInvulnerable":{"value":27},"Medic.mvm.accum.iPlayTime":{"value":4761},"Medic.mvm.accum.iPointDefenses":{"value":8},"Medic.mvm.accum.iPointsScored":{"value":363},"Medic.mvm.max.iDamageDealt":{"value":7572},"Medic.mvm.max.iKillAssists":{"value":42},"Medic.mvm.max.iNumberOfKills":{"value":7},"Medic.mvm.max.iNumInvulnerable":{"value":5},"Medic.mvm.max.iPlayTime":{"value":614},"Medic.mvm.max.iPointDefenses":{"value":4},"Medic.mvm.max.iPointsScored":{"value":47},"Demoman.mvm.accum.iDamageDealt":{"value":159471},"Demoman.mvm.accum.iKillAssists":{"value":119},"Demoman.mvm.accum.iNumberOfKills":{"value":527},"Demoman.mvm.accum.iPlayTime":{"value":11901},"Demoman.mvm.accum.iPointDefenses":{"value":111},"Demoman.mvm.accum.iPointsScored":{"value":863},"Demoman.mvm.max.iDamageDealt":{"value":29357},"Demoman.mvm.max.iKillAssists":{"value":12},"Demoman.mvm.max.iNumberOfKills":{"value":101},"Demoman.mvm.max.iPlayTime":{"value":1114},"Demoman.mvm.max.iPointDefenses":{"value":12},"Demoman.mvm.max.iPointsScored":{"value":118},"Heavy.mvm.accum.iDamageDealt":{"value":209954},"Heavy.mvm.accum.iKillAssists":{"value":100},"Heavy.mvm.accum.iNumberOfKills":{"value":358},"Heavy.mvm.accum.iPlayTime":{"value":5975},"Heavy.mvm.accum.iPointDefenses":{"value":71},"Heavy.mvm.accum.iPointsScored":{"value":471},"Heavy.mvm.max.iDamageDealt":{"value":63014},"Heavy.mvm.max.iKillAssists":{"value":17},"Heavy.mvm.max.iNumberOfKills":{"value":74},"Heavy.mvm.max.iPlayTime":{"value":1053},"Heavy.mvm.max.iPointDefenses":{"value":10},"Heavy.mvm.max.iPointsScored":{"value":91},"Engineer.mvm.accum.iDamageDealt":{"value":474304},"Engineer.mvm.accum.iKillAssists":{"value":741},"Engineer.mvm.accum.iNumberOfKills":{"value":2175},"Engineer.mvm.accum.iPlayTime":{"value":21586},"Engineer.mvm.accum.iPointDefenses":{"value":627},"Engineer.mvm.accum.iPointsScored":{"value":5101},"Engineer.mvm.max.iDamageDealt":{"value":32178},"Engineer.mvm.max.iKillAssists":{"value":60},"Engineer.mvm.max.iNumberOfKills":{"value":136},"Engineer.mvm.max.iPlayTime":{"value":854},"Engineer.mvm.max.iPointDefenses":{"value":34},"Engineer.mvm.max.iPointsScored":{"value":246},"Sniper.mvm.accum.iDamageDealt":{"value":40919},"Sniper.mvm.accum.iKillAssists":{"value":108},"Sniper.mvm.accum.iNumberOfKills":{"value":123},"Sniper.mvm.accum.iPlayTime":{"value":5626},"Sniper.mvm.accum.iPointDefenses":{"value":47},"Sniper.mvm.accum.iPointsScored":{"value":221},"Sniper.mvm.max.iDamageDealt":{"value":6198},"Sniper.mvm.max.iKillAssists":{"value":15},"Sniper.mvm.max.iNumberOfKills":{"value":11},"Sniper.mvm.max.iPlayTime":{"value":600},"Sniper.mvm.max.iPointDefenses":{"value":5},"Sniper.mvm.max.iPointsScored":{"value":20},"Spy.mvm.accum.iBackstabs":{"value":240},"Spy.mvm.max.iBackstabs":{"value":24},"Engineer.mvm.accum.iBuildingsBuilt":{"value":654},"Engineer.mvm.max.iBuildingsBuilt":{"value":28},"Sniper.mvm.accum.iHeadshots":{"value":11},"Sniper.mvm.max.iHeadshots":{"value":6},"Medic.mvm.accum.iHealthPointsHealed":{"value":76853},"Medic.mvm.max.iHealthPointsHealed":{"value":11919},"Engineer.mvm.accum.iNumTeleports":{"value":214},"Engineer.mvm.max.iNumTeleports":{"value":15},"Engineer.mvm.max.iSentryKills":{"value":105},"Pyro.mvm.accum.iFireDamage":{"value":179521},"Spy.mvm.accum.iHeadshots":{"value":2},"Spy.mvm.max.iHeadshots":{"value":2},"TF_MAPS_DOOMSDAY_WIN_ROUNDS_STAT":{"value":13},"TF_KILL_BALLOONICORN_OWNERS_STAT":{"value":19},"TF_MVM_COLLECT_MONEY_GRIND_STAT":{"value":54812},"TF_MVM_KILL_ROBOT_GRIND_STAT":{"value":7676},"TF_MVM_KILL_ROBOT_MEGA_GRIND_STAT":{"value":7676},"cp_dustbowl.accum.iPlayTime":{"value":2712},"cp_egypt_final.accum.iPlayTime":{"value":41},"ctf_2fort.accum.iPlayTime":{"value":3108},"ctf_sawmill.accum.iPlayTime":{"value":251},"ctf_well.accum.iPlayTime":{"value":240},"cp_foundry.accum.iPlayTime":{"value":80},"koth_sawmill.accum.iPlayTime":{"value":74},"pl_upward.accum.iPlayTime":{"value":155}},"achievements":{"TF_PLAY_GAME_EVERYCLASS":{"achieved":1},"TF_PLAY_GAME_EVERYMAP":{"achieved":1},"TF_GET_HEALPOINTS":{"achieved":1},"TF_BURN_PLAYERSINMINIMUMTIME":{"achieved":1},"TF_GET_TURRETKILLS":{"achieved":1},"TF_KILL_NEMESIS":{"achieved":1},"TF_GET_CONSECUTIVEKILLS_NODEATHS":{"achieved":1},"TF_GET_HEALED_BYENEMY":{"achieved":1},"TF_WIN_MULTIPLEGAMES":{"achieved":1},"TF_GET_MULTIPLEKILLS":{"achieved":1},"TF_GET_HEADSHOTS":{"achieved":1},"TF_MEDIC_HEAL_UNDER_FIRE":{"achieved":1},"TF_MEDIC_SIMUL_CHARGE":{"achieved":1},"TF_MEDIC_SETUP_CHARGE":{"achieved":1},"TF_MEDIC_RAPID_CHARGE":{"achieved":1},"TF_MEDIC_COUNTER_CHARGE":{"achieved":1},"TF_MEDIC_SWITCH_TO_MEDIC":{"achieved":1},"TF_MEDIC_SAVE_TEAMMATE":{"achieved":1},"TF_MEDIC_CHARGE_BLOCKER":{"achieved":1},"TF_MEDIC_SYRINGE_SCOUTS":{"achieved":1},"TF_MEDIC_BONESAW_MEDICS":{"achieved":1},"TF_MEDIC_HEAL_ENGINEER":{"achieved":1},"TF_MEDIC_ASSIST_CAPTURER":{"achieved":1},"TF_MEDIC_HEAL_CALLERS":{"achieved":1},"TF_WIN_2FORT_NOENEMYCAPS":{"achieved":1},"TF_WIN_WELL_MINIMUMTIME":{"achieved":1},"TF_WIN_HYDRO_NOENEMYCAPS":{"achieved":1},"TF_WIN_DUSTBOWL_NOENEMYCAPS":{"achieved":1},"TF_WIN_GRAVELPIT_NOENEMYCAPS":{"achieved":1},"TF_MEDIC_EXTINGUISH_TEAMMATES":{"achieved":1},"TF_MEDIC_KILL_WHILE_CHARGED":{"achieved":1},"TF_MEDIC_BONESAW_NOMISSES":{"achieved":1},"TF_MEDIC_KILL_HEALED_SPY":{"achieved":1},"TF_MEDIC_CHARGE_JUGGLE":{"achieved":1},"TF_MEDIC_FREEZECAM_RAGDOLL":{"achieved":1},"TF_MEDIC_BONESAW_SPY_CALLERS":{"achieved":1},"TF_MEDIC_INVITE_JOIN_CHARGE":{"achieved":1},"TF_MEDIC_HEAL_ACHIEVER":{"achieved":1},"TF_MEDIC_ACHIEVE_PROGRESS1":{"achieved":1},"TF_MEDIC_ACHIEVE_PROGRESS2":{"achieved":1},"TF_MEDIC_ACHIEVE_PROGRESS3":{"achieved":1},"TF_PYRO_KILL_MULTIWEAPONS":{"achieved":1},"TF_PYRO_SIMULBURN_SCOUTS":{"achieved":1},"TF_PYRO_FORCE_WATERJUMP":{"achieved":1},"TF_PYRO_KILL_POSTDEATH":{"achieved":1},"TF_PYRO_KILL_SPIES":{"achieved":1},"TF_PYRO_KILL_CARRIERS":{"achieved":1},"TF_PYRO_REVEAL_SPIES":{"achieved":1},"TF_PYRO_CAMP_TELEPORTERS":{"achieved":1},"TF_PYRO_CAMP_POSITION":{"achieved":1},"TF_PYRO_KILL_AXE_SMALL":{"achieved":1},"TF_PYRO_KILL_AXE_LARGE":{"achieved":1},"TF_PYRO_BURN_SPIES_AS_YOU":{"achieved":1},"TF_PYRO_BURN_SNIPERS_ZOOMED":{"achieved":1},"TF_PYRO_BURN_MEDICS_CHARGED":{"achieved":1},"TF_PYRO_KILL_HEAVIES":{"achieved":1},"TF_PYRO_KILL_UNDERWATER":{"achieved":1},"TF_PYRO_KILL_UBERCHARGE":{"achieved":1},"TF_PYRO_DESTROY_BUILDINGS":{"achieved":1},"TF_PYRO_DEFEND_POINTS":{"achieved":1},"TF_PYRO_KILL_GRIND":{"achieved":1},"TF_PYRO_KILL_TAUNT":{"achieved":1},"TF_PYRO_DOMINATE_LEAVESVR":{"achieved":1},"TF_PYRO_KILL_TAUNTERS":{"achieved":1},"TF_PYRO_BURN_RJ_SOLDIER":{"achieved":1},"TF_PYRO_FREEZECAM_TAUNTS":{"achieved":1},"TF_PYRO_BURN_MEDICPAIR":{"achieved":1},"TF_PYRO_KILL_FROM_BEHIND":{"achieved":1},"TF_PYRO_KILL_TEAMWORK":{"achieved":1},"TF_PYRO_REFLECT_CROCKET_KILL":{"achieved":1},"TF_PYRO_KILL_GRIND_LARGE":{"achieved":1},"TF_PYRO_IGNITE_FLAREGUN":{"achieved":1},"TF_PYRO_REFLECT_PROJECTILES":{"achieved":1},"TF_PYRO_DOUBLE_KO":{"achieved":1},"TF_PYRO_ACHIEVE_PROGRESS1":{"achieved":1},"TF_PYRO_ACHIEVE_PROGRESS2":{"achieved":1},"TF_PYRO_ACHIEVE_PROGRESS3":{"achieved":1},"TF_HEAVY_ACHIEVE_PROGRESS1":{"achieved":1},"TF_HEAVY_ACHIEVE_PROGRESS2":{"achieved":1},"TF_HEAVY_ACHIEVE_PROGRESS3":{"achieved":1},"TF_HEAVY_DAMAGE_TAKEN":{"achieved":1},"TF_HEAVY_DEFEND_MEDIC":{"achieved":1},"TF_HEAVY_ASSIST_MEDIC_LARGE":{"achieved":1},"TF_HEAVY_EARN_MEDIC_DOMINATION":{"achieved":1},"TF_HEAVY_KILL_TAUNT":{"achieved":1},"TF_HEAVY_KILL_FLAG_CARRIERS":{"achieved":1},"TF_HEAVY_KILL_MEDIC_PAIR":{"achieved":1},"TF_HEAVY_BLOCK_CART":{"achieved":1},"TF_HEAVY_RECEIVE_UBER_GRIND":{"achieved":1},"TF_HEAVY_STAND_NEAR_DISPENSER":{"achieved":1},"TF_HEAVY_ASSIST_HEAVY_GRIND":{"achieved":1},"TF_HEAVY_CLEAR_STICKYBOMBS":{"achieved":1},"TF_HEAVY_KILL_UNDERWATER":{"achieved":1},"TF_HEAVY_TAKE_MULTI_DAMAGE":{"achieved":1},"TF_HEAVY_KILL_DOMINATED":{"achieved":1},"TF_HEAVY_SURVIVE_CROCKET":{"achieved":1},"TF_HEAVY_UNCOVER_SPIES":{"achieved":1},"TF_HEAVY_KILL_WHILE_SPUNUP":{"achieved":1},"TF_HEAVY_FIRE_LOTS":{"achieved":1},"TF_HEAVY_KILL_CRIT_PUNCH":{"achieved":1},"TF_HEAVY_KILL_SHOTGUN":{"achieved":1},"TF_HEAVY_FIRST_TO_CAP":{"achieved":1},"TF_HEAVY_PAYLOAD_CAP_GRIND":{"achieved":1},"TF_HEAVY_KILL_MIDAIR_MINIGUN":{"achieved":1},"TF_HEAVY_DEFEND_CONTROL_POINT":{"achieved":1},"TF_HEAVY_KILL_CAPPING_ENEMIES":{"achieved":1},"TF_HEAVY_REVENGE_ASSIST":{"achieved":1},"TF_HEAVY_TELEPORT_FAST_KILL":{"achieved":1},"TF_HEAVY_FREEZECAM_TAUNT":{"achieved":1},"TF_HEAVY_EAT_SANDWICHES":{"achieved":1},"TF_SCOUT_DESTROY_TELEPORTERS":{"achieved":1},"TF_SCOUT_DESTROY_BUILDINGS_BEING_BUILT":{"achieved":1},"TF_SCOUT_DESTROY_SENTRY_WITH_PISTOL":{"achieved":1},"TF_SCOUT_ACHIEVE_PROGRESS1":{"achieved":1},"TF_SCOUT_ACHIEVE_PROGRESS2":{"achieved":1},"TF_SCOUT_ACHIEVE_PROGRESS3":{"achieved":1},"TF_SCOUT_DOUBLE_JUMPS":{"achieved":1},"TF_SCOUT_STEAL_SANDWICH":{"achieved":1},"TF_SCOUT_KILL_CHARGED_MEDICS":{"achieved":1},"TF_SCOUT_SURVIVE_DAMAGE":{"achieved":1},"TF_SCOUT_FLAG_CAP_GRIND":{"achieved":1},"TF_SCOUT_THREE_FLAGCAPS":{"achieved":1},"TF_SCOUT_DODGE_DAMAGE":{"achieved":1},"TF_SCOUT_KNOCK_INTO_TRAIN":{"achieved":1},"TF_SCOUT_KILL_STUNNED":{"achieved":1},"TF_SCOUT_MAX_STUNS":{"achieved":1},"TF_SCOUT_KILL_FROM_BEHIND":{"achieved":1},"TF_SCOUT_CAPTURE_LAST_POINT":{"achieved":1},"TF_SCOUT_CAPTURE_THREE_POINTS":{"achieved":1},"TF_SCOUT_FAST_CAP":{"achieved":1},"TF_SCOUT_START_AND_FINISH_CAP":{"achieved":1},"TF_SCOUT_CARRIER_KILL_CARRIER":{"achieved":1},"TF_SCOUT_CAP_FLAG_WITHOUT_ATTACKING":{"achieved":1},"TF_SCOUT_LONG_DISTANCE_RUNNER":{"achieved":1},"TF_SCOUT_TAUNT_KILL":{"achieved":1},"TF_SNIPER_JARATE_DOMINATED":{"achieved":1},"TF_SNIPER_FREEZECAM_HAT":{"achieved":1},"TF_SNIPER_RIFLE_NO_MISSING":{"achieved":1},"TF_SNIPER_CAPTURE_FLAG":{"achieved":1},"TF_SNIPER_KILL_GRIND":{"achieved":1},"TF_SNIPER_KILL_WEAPONS":{"achieved":1},"TF_SNIPER_HEADSHOT_SNIPERS":{"achieved":1},"TF_SNIPER_DESTROY_SENTRYGUNS":{"achieved":1},"TF_SNIPER_KILL_INVIS_SPY":{"achieved":1},"TF_SNIPER_KILL_MIDAIR_SCOUT":{"achieved":1},"TF_SNIPER_FREEZECAM_WAVE":{"achieved":1},"TF_SNIPER_DOMINATE_SNIPER":{"achieved":1},"TF_SNIPER_KILL_SPIES_MELEE":{"achieved":1},"TF_SNIPER_HEADSHOT_DEMOMAN":{"achieved":1},"TF_SNIPER_KILL_RJER":{"achieved":1},"TF_SNIPER_KILL_UNSCOPED":{"achieved":1},"TF_SNIPER_KILL_CHARGED_MEDIC":{"achieved":1},"TF_SNIPER_GET_BACKSTABBED":{"achieved":1},"TF_SNIPER_KILL_AT_ROUNDSTART":{"achieved":1},"TF_SNIPER_HEADSHOT_POST_INVULN":{"achieved":1},"TF_SNIPER_KILL_FAILED_SPY":{"achieved":1},"TF_SNIPER_JARATE_GROUP":{"achieved":1},"TF_SNIPER_JARATE_MEDIC_PAIR":{"achieved":1},"TF_SNIPER_JARATE_REVEAL_SPY":{"achieved":1},"TF_SNIPER_JARATE_EXTINGUISH":{"achieved":1},"TF_SNIPER_BOW_PIN_HEAVY":{"achieved":1},"TF_SNIPER_BOW_PINCUSHION":{"achieved":1},"TF_SNIPER_JARATE_ASSISTS":{"achieved":1},"TF_SNIPER_TAUNT_KILL":{"achieved":1},"TF_SNIPER_BOW_KILL_WHILEDEAD":{"achieved":1},"TF_SPY_BACKSTAB_SNIPERS":{"achieved":1},"TF_SPY_FREEZECAM_FLICK":{"achieved":1},"TF_SPY_BACKSTAB_DISGUISED_SPY":{"achieved":1},"TF_SPY_BACKSTAB_DISGUISE_TARGET":{"achieved":1},"TF_SPY_TAUNT_KILL":{"achieved":1},"TF_SPY_BACKSTAB_MEDIC_HEALING_YOU":{"achieved":1},"TF_SPY_SAP_BUILDING_BACKSTAB_ENGY":{"achieved":1},"TF_SPY_BACKSTAB_MEDIC_PAIR":{"achieved":1},"TF_SPY_DOMINATE_SNIPER":{"achieved":1},"TF_SPY_BUMP_CLOAKED_SPY":{"achieved":1},"TF_SPY_KILL_SPY_WITH_KNIFE":{"achieved":1},"TF_SPY_SURVIVE_BURNING":{"achieved":1},"TF_SPY_BREAK_SHIELD_KILL_SNIPER":{"achieved":1},"TF_SPY_KILL_WORKING_ENGY":{"achieved":1},"TF_SPY_MEDIC_HEALING_KILL_ENEMY":{"achieved":1},"TF_SPY_BACKSTAB_DOMINATING_ENEMY":{"achieved":1},"TF_SPY_REVENGE_WITH_BACKSTAB":{"achieved":1},"TF_SPY_KNIFE_KILL_WHILE_JARATED":{"achieved":1},"TF_SPY_BACKSTAB_QUICK_KILLS":{"achieved":1},"TF_SPY_SAPPER_TEAMWORK":{"achieved":1},"TF_SPY_BACKSTAB_MEDIC_CHARGED":{"achieved":1},"TF_SPY_BACKSTAB_ENEMY_SWITCH_PYRO":{"achieved":1},"TF_SPY_AMBASSADOR_GRIND":{"achieved":1},"TF_SPY_AMBASSADOR_SNIPER_GRIND":{"achieved":1},"TF_SPY_FEIGN_DEATH_KILL":{"achieved":1},"TF_SPY_AMBASSADOR_SCOUT_GRIND":{"achieved":1},"TF_SPY_CAMP_POSITION":{"achieved":1},"TF_SNIPER_ACHIEVE_PROGRESS1":{"achieved":1},"TF_SNIPER_ACHIEVE_PROGRESS2":{"achieved":1},"TF_SNIPER_ACHIEVE_PROGRESS3":{"achieved":1},"TF_SPY_ACHIEVE_PROGRESS1":{"achieved":1},"TF_SPY_ACHIEVE_PROGRESS2":{"achieved":1},"TF_SPY_ACHIEVE_PROGRESS3":{"achieved":1},"TF_HALLOWEEN_COLLECT_PUMPKINS":{"achieved":1},"TF_HALLOWEEN_DOMINATE_FOR_HAT":{"achieved":1},"TF_HALLOWEEN_KILL_SCARED_PLAYER":{"achieved":1},"TF_HALLOWEEN_PUMPKIN_KILL":{"achieved":1},"TF_HALLOWEEN_DISGUISED_SPY_KILL":{"achieved":1},"TF_SOLDIER_ACHIEVE_PROGRESS1":{"achieved":1},"TF_SOLDIER_ACHIEVE_PROGRESS2":{"achieved":1},"TF_SOLDIER_ACHIEVE_PROGRESS3":{"achieved":1},"TF_SOLDIER_KILL_GROUP_WITH_CROCKET":{"achieved":1},"TF_SOLDIER_THREE_DOMINATIONS":{"achieved":1},"TF_SOLDIER_DEFEND_MEDIC":{"achieved":1},"TF_SOLDIER_KILL_TAUNT":{"achieved":1},"TF_SOLDIER_DESTROY_SENTRY_OUT_OF_RANGE":{"achieved":1},"TF_SOLDIER_KILL_SNIPER_WHILE_DEAD":{"achieved":1},"TF_SOLDIER_KILL_AIRBORNE_TARGET_WHILE_AIRBORNE":{"achieved":1},"TF_SOLDIER_KILL_ENGY":{"achieved":1},"TF_SOLDIER_DESTROY_STICKIES":{"achieved":1},"TF_SOLDIER_CROUCH_ROCKET_JUMP":{"achieved":1},"TF_SOLDIER_KILL_TWENTY_FROM_ABOVE":{"achieved":1},"TF_SOLDIER_SHOOT_MULT_CRITS":{"achieved":1},"TF_SOLDIER_KILL_DEFENSELESS":{"achieved":1},"TF_SOLDIER_KILL_ON_FIRE":{"achieved":1},"TF_SOLDIER_KILL_FIVE_STUNNED":{"achieved":1},"TF_SOLDIER_FREEZECAM_GIBS":{"achieved":1},"TF_SOLDIER_KILL_SPY_KILLER":{"achieved":1},"TF_SOLDIER_GIB_GRIND":{"achieved":1},"TF_SOLDIER_RJ_EQUALIZER_KILL":{"achieved":1},"TF_SOLDIER_KILL_PYRO":{"achieved":1},"TF_SOLDIER_EQUALIZER_STREAK":{"achieved
[...]
