---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IStoreService/GetGamesFollowedCount/v0001?key=<STEAM_API_KEY>&steamid=<MY_STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response":{"followed_game_count":1}}'
  recorded_at: Thu, 03 Sep 2026 23:50:13 GMT
recorded_with: VCR 6.4.0
