---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUser/GetFriendList/v0001?key=<STEAM_API_KEY>&relationship=friend&steamid=<MY_STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"friendslist":{"friends":[{"steamid":"60000000000000001","relationship":"friend","friend_since":0},{"steamid":"60000000000000002","relationship":"friend","friend_since":0},{"steamid":"60000000000000003","relationship":"friend","friend_since":0},{"steamid":"60000000000000004","relationship":"friend","friend_since":1585508613},{"steamid":"60000000000000005","relationship":"friend","friend_since":0},{"steamid":"60000000000000006","relationship":"friend","friend_since":0},{"steamid":"60000000000000007","relationship":"friend","friend_since":1251433222},{"steamid":"60000000000000008","relationship":"friend","friend_since":1436934825},{"steamid":"60000000000000009","relationship":"friend","friend_since":0},{"steamid":"60000000000000010","relationship":"friend","friend_since":1257142334}]}}'
  recorded_at: Thu, 03 Sep 2026 22:47:34 GMT
recorded_with: VCR 6.4.0
