---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001?key=<STEAM_API_KEY>&url_type=1&vanityurl=%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"success":42,"message":"No match"}}'
  recorded_at: Thu, 03 Sep 2026 12:12:21 GMT
recorded_with: VCR 6.4.0
