---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUser/GetPlayerBans/v0001?key=<STEAM_API_KEY>&steamids=<MY_STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"players":[{"SteamId":"<MY_STEAM_ID>","CommunityBanned":false,"VACBanned":false,"NumberOfVACBans":0,"DaysSinceLastBan":0,"NumberOfGameBans":0,"EconomyBan":"none"}]}'
  recorded_at: Thu, 03 Sep 2026 22:50:36 GMT
recorded_with: VCR 6.4.0
